/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  width: 320px;
  border: 1px solid #ddd;
  margin-top: 1em;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  img {
    margin-bottom: 12px;
  }

  .green-badge {
    background-color: #F3FBF4;
    color: #2d8657;
    border: 1px solid #118c4a;
    border-radius: 30px;
    padding: 4px 8px;
    margin: 0 12px;
    width: fit-content;
    font-weight: 500;
  }

  figcaption{
    padding: 16px;
    flex-grow: 1;

    strong {
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      color: #555;
      margin: 0;
    }
  }

  a{
    text-decoration: none;
    padding: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
